<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"  th:replace="base::Layout(~{::section})">
<head>
  <meta charset="UTF-8"/>
  <title>This is home page</title>
</head>

<body>
  <section class="banner">
  	<div class="text-center">
  		 <h1 class="font-weight-bold">Smart Contact Manager</h1>
  		 <p> 
  		 	Start Collecting your contacts in very smart way. We provide very efficient and smarter way of handling contacts.
  		 </p>
  		 
  		 <button class="button-18" role="button">Get Start</button>
  	</div>
  	
  </section>
</body>

</html>